.vscode
*__pycache__*
f_8312_ls360/*
LibriSpeech/*
llvc_models/models/checkpoints/llvc/G_500000.pth
llvc_models/models/checkpoints/llvc_hfg/G_500000.pth
llvc_models/models/checkpoints/llvc_nc/G_500000.pth
llvc_models/models/embeddings/checkpoint_best_legacy_500.pt
llvc_models/models/embeddings/hubert_base_ls960.pt
llvc_models/models/f0/rmvpe.pt
llvc_models/models/quickvc/quickvc_100.pth
llvc_models/models/rvc/f_8312_32k-325.pth
llvc_models/models/rvc_no_f0/f_8312_no_f0-300.pth
my_out_dir/chunk1.wav
my_out_dir/chunk2.wav
my_out_dir/chunk3.wav
my_out_dir/chunk4.wav
my_out_dir/chunk5.wav
voice_chunks/chunk1.wav
voice_chunks/chunk2.wav
voice_chunks/chunk3.wav
voice_chunks/chunk4.wav
voice_chunks/chunk5.wav
dev-clean.tar.gz
.python-version
check_speaker.py
list_devices.py
Recording.wav
split_audio.py
test-clean.tar.gz
train-clean-360.tar.gz
